<div style="margin: 10px">
  <img
    src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcTSThV7SgaAOxLujE2YEsQSZVw6iFhexiHezcca3_KvPm8OALBmHuISYCreIjAK4zTa-g9EVd7LqtS35YLk14kmTeH79RKkCTSV2uiejzXw6hJ6zLnxUN6Lrg&usqp=CAE"
    alt=""
    style="width: 150px; height: 150px"
  />
  <h3>{{ item.name }}</h3>
  <p>{{ item.price }}.99 $</p>
  <p>{{ item.description }}</p>
  <button class="btn btn-primary" (click)="subtractQuantity(item)">-</button>
  <p>{{ item.quantity }}</p>
  <button (click)="addQuantity(item)">+</button>
  <button (click)="onClick(item)">Add to cart</button>
  <button (click)="hideItemFromList(item)">Hide</button>
</div>
