<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
  "
>
  <h1 style="margin-bottom: 100px" *ngIf="cart.length === 0">
    To add some products please visit Products page...
  </h1>
  <!-- *ngIf="cart.length != 0" -->
  <div style="display: flex">
    <div>
      <div
        *ngFor="let product of cart"
        class="card mb-5"
        style="max-width: 900px"
      >
        <div class="row no-gutters">
          <div class="col-lg-3">
            <img src="{{ product.url }}" height="200" width="200" />
          </div>
          <div class="col-lg-6" style="width: 570px">
            <div
              class="card-body"
              style="display: flex; justify-content: space-between"
            >
              <div>
                <h3 class="card-title">{{ product.name }}</h3>
                <h4>{{ product.price | currency : "$" }}</h4>
                <p class="card-text">{{ product.description }}</p>
                <h5 class="card-text">quantity: {{ product.quantity }}</h5>
              </div>
              <div>
                <button
                  (click)="removeFromCart(product)"
                  class="btn btn-danger"
                >
                  Remove from cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-left: 100px; width: 600px">
      <h2>Total price: {{ total | currency : "$" }}</h2>
      <h4>Fill you information to proceed with the order:</h4>
      <div>
        <form #form="ngForm" class="form-container" (ngSubmit)="onCheckout()">
          <label for="name">Name</label>
          <input
            class="form-input"
            [(ngModel)]="name"
            name="name"
            required
            minlength="3"
            type="text"
            id="name"
            class="form-control"
            placeholder="(minimum 6 characters)"
          />
          <span
            *ngIf="
              form.controls['name'].invalid && form.controls['name'].touched
            "
            class="error-message text-danger"
            >Name should be at least 3 characters</span
          >
          <label for="address">Address</label>
          <input
            class="form-input"
            type="text"
            id="address"
            name="address"
            required
            minlength="6"
            [(ngModel)]="address"
            class="form-control"
            placeholder="(minimum 6 characters)"
          />
          <span
            *ngIf="
              form.controls['address'].invalid &&
              form.controls['address'].touched
            "
            class="error-message text-danger"
            >Address should be at least 6 characters</span
          >
          <label for="cardNumber">Card Number</label>
          <input
            class="form-control"
            type="text"
            id="cardNumber"
            name="cardNumber"
            required
            minlength="16"
            maxlength="16"
            pattern="^[0-9]*$"
            [(ngModel)]="cardNumber"
            placeholder="(16-digit-number)"
          />
          <span
            *ngIf="
              form.controls['cardNumber'].invalid &&
              form.controls['cardNumber'].touched
            "
            class="error-message text-danger"
            >Only numbers is allowed here</span
          >
          <button
            [disabled]="!form.valid"
            class="btn btn-primary submit-btn"
            (click)="onCheckout()"
          >
            Submit
          </button>
        </form>
      </div>
    </div>

    <div></div>
  </div>
</div>
